body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 1000px;
    gap: 20px
}

h1 {
    font-size: 60px;
    text-decoration: underline;
}

.choice {
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

.choice div {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    font-size: 30px;
    padding: 20px;
    width: 200px;
    height: 100px;
}

img {
    width: 150px;
    height: auto;
    padding: 10px;
}